{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}Connect Plus{% endblock %}</title>
    <!-- plugins:css -->
    <link
            rel="stylesheet"
            href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}"
    />
    <link
            rel="stylesheet"
            href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}"
    />
    <link
            rel="stylesheet"
            href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}"
    />
    {% comment %}
    <link
            rel="stylesheet"
            href="{% static 'assets/vendors/select2/select2.min.css' %}"
    />
    {% endcomment %}
    {% comment %}
    <link
            rel="stylesheet"
            href="{% static 'assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}"
    />
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"/>
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}"/>
    <!-- Extra CSS for child templates -->
    {% block extra_css %}{% endblock %}
</head>
<body>

<div class="container-scroller">
    <!-- Navbar -->
    {% include 'navbar.html' %}
    <!-- Sidebar -->
    <div class="container-fluid page-body-wrapper">
        {% include 'sidebar.html' %}
        <!-- Main Content Area -->
        <div class="main-panel">
            <div class="content-wrapper">{% block content %}{% endblock %}</div>
            <!-- Footer -->
            {% include 'footer.html' %}
        </div>
    </div>
</div>
<!-- Core JS -->
<script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'assets/vendors/jquery-circle-progress/js/circle-progress.min.js' %}"></script>
<script src="{% static 'assets/js/off-canvas.js' %}"></script>
<script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'assets/js/misc.js' %}"></script>
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<!-- Extra JS for child templates -->
{% block extra_js %}{% endblock %}
</body>
</html>